<section class="all-requests">
    <div class="request" *ngFor="let request of requests">
        <!-- car-details also should shown here  -->
        <p>{{request.source}}</p>
        <p>{{request.destination}}</p>
        <p>{{request.userCost}}</p>
        <p>{{request.car.name}}</p>
        <p>{{request.car.noPlate}}</p>
        <p>{{request.car.type}}</p>
        <p>{{request.user.name}}</p>
        <p>{{request.user.phoneNo}}</p>
        <p>{{request.car.totalNoOfSeats}}-{{request.seatsBooked}}</p>
    </div>
</section>