<main>
    <section class="search">
        <form>
            <input type="text" name="source" placeholder="Enter your source..." [(ngModel)]="source">
            <input type="text" name="destination" placeholder="Enter your placeholder..." [(ngModel)]="destination">
            <input type="text" name="time" placeholder="Enter your time..." [(ngModel)]="time">
            <input type="text" name="date" placeholder="Enter your date..." [(ngModel)]="date">
            <button>search</button>
        </form>
    </section>
</main>